
body {
  font-family: Arial;
  font-size: 13px;
}

#body-column {
  /* Centered column */
  position: relative;
  max-width: 650px;
  margin: 0 auto;
}

#hack4dk-logo {
  position: fixed; /* absolute; */
  top: 0px;
  right: 0px;
}

@media all and (max-width:800px) {
  #hack4dk-logo {
    display: none;
  }
}

a {
  text-decoration: none;
}
a:visited {
  /* You cannot make visited link transparent, even with color: rgba() */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Privacy_and_the_:visited_selector */
  /* color: rgba(24, 0, 255, 0.3); */
  color: #8B8BFE;
}

a[href^="http://chaos-community.github.io/CHAOS-API-Documentation"] {
  color: #595959;
}

h1 {
  text-align: center;
}

a[href="#overview-menu"] {
  float: right;
  font-size: 10px;
}

article > h2:first-child {
  border-bottom: 1px solid #CCC;
}

article {
  margin-top: 30px;
}

/* Again LARM.fm uses CHAOS v6 and the library in it's current form
   expects v4 */
#chaos-php-library, #chaos-javascript-library {
  display: none;
}

a.example {
  text-align: center;
  display: block;
}

a.example img {
  height: 350px;
}
a.example + .caption {
  text-align: center;
  display: block;
  font-size: 10px;
  font-style: italic;
}

.float-clear {
  clear: both;
}



/* Code / API examples */
div.example {
  background-color: #EAEAEA;
  min-height: 1.3em;
  clear: both;
}

div.example pre {
  float: left;
  margin: 0;
}

div.example .api-link {
  float: right;
}

div.example .api-link + * {
  clear: both;
}
