
body {
  /* Centered column */
  position: relative;
  max-width: 800px;
  margin: 0 auto;

  font-family: Arial;
  font-size: 13px;
}

.float-clear {
  clear: both;
}

article {
  max-width: 800px;
  position: absolute;
}
article + article {
  left: -1000px;
}

div.slider-arrow {
  height: 100%;
  position: absolute;
  left: 900px;
  top: 0;
  vertical-align: middle;
}


div.example-data {
  width: 50%;
  display: inline-block;

  vertical-align: top;
}

div.example-data pre {
  max-height: 460px;
  overflow: auto;

  margin: 0;
}

div.example-data .caption {
  font-size: 10px;
  font-style: italic;
}

/* Code / API examples */
div.example {
  background-color: #EAEAEA;
  min-height: 1.3em;
  clear: both;
}

div.example pre {
  float: left;
  margin: 0;
}

div.example .api-link {
  float: right;
}

div.example .api-link + * {
  clear: both;
}
